h1{
    margin: 0 auto;
    width: 300px;
}
body{
    color:black;
    border: 2px solid #000;
    background-color:#FF033E	; /* Цвет фона под текстом параграфа */
    color: #000000	;
    /*text-align:center;*/

}
.b1{
    color: chartreuse;
}
#n2{
    font-size: 24px;
    color: blue;
}
.article{
    background:#FF033E;
}
.article ul li{
    width: 100px;
    height: 100px;
    background: #007FFF;
    border:10px solid #66FF00;
}
