.item{
    width: 300px;
    height: 300px;
    background: white;
    display: inline-block;
    padding: 40px;
}

.img{
    width: 200px;
    height: 200px;
}
.footer{
    width: 200px;
    height: 40px;
    background: wheat;
}
.name{
    width: 120px;
    display: inline-block;
    line-height: 40px;
}
.price{
    width: 76px;
    display: inline-block;
    line-height: 40px;
}


.item:hover .footer{
    background: lightslategrey;
}
.item:hover .img{
    background: green;
}
.kartinka{
    width: 200px;
    height: 200px;
}
