@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
body{
    background: #0000 url("https://images.wallpaperscraft.ru/image/gory_ozero_vershiny_vid_sverkhu_119133_1920x1080.jpg") no-repeat center center fixed;
   background-size: cover;
}
.menu{
    list-style: none;
    margin: 0 auto;

}
.menu li{
    display:inline-block;
    font-family: 'Staatliches', cursive;
    margin-left: 15%;
    

}
.menu li a{
    display:inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Big Shoulders Text', cursive;
    font-size: 20px;;

   
}
.menu li a:hover{
    color: rgb(229, 255, 0);
}
.d img{
    width:600px;
}
.d{
display:inline-block;
width: 50%;
}
.d2{
margin-left:-4px;
}
