.block1{
    position: relative;
    width: 260px;
    height: 270px;
    background: white;
    border: 1px solid black;
}
.block2{
    display: none;
    width: 250px;
    height: 260px;
    background: gray;
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(100, 100, 100, 0.3);
}
.block1:hover .block2{
    display: block;
}
.knopka1{
    height: 30px;
    width: 50px;
    background-color: rgba(100, 100, 100, 0.3);

}
.wrap{
    margin-top: 40%;
    text-align: center;
}
.l{
    background: violet;
    border: 1px solid;
    display: inline-block;
    width: 50px;
    height: 50px;
    opacity: 1;
}
.l span{
    opacity: 0px;
    font-size: 36px;
}
.l:hover span{
    opacity: 0;
}
.l:hover{
    background: grey;
}
.menu{
    margin-top: 100px;
}
.menu li{
    display: inline-block;
}
.li1{
    position: relative;
}
.submenu{
    display:none;
    top:18px;
    left:10px;
    position: absolute;
    background: red;
    margin: 0;
    padding: 0;
}
.li1:hover.submenu{
    display: block;
}
.submenu li:hover{
    background: green;
}