.aaaa
  {
    box-sizing: border-box;
    padding: 0;
    margin-right: 14px;
  }
  
  .site-navigation {
    display: inline-block;
    font-family: Roboto, sans-serif;
    list-style: none;
  }
  
  .site-navigation li {
    float: left;
  }
  .nav{
    display: inline-block;
    width:90%;
    text-align:right;
  }
  .site-navigation a {
    display: block;
    padding: 10px;
    font-size: 10px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
  }
  
  .site-navigation a:hover {
    color: rgb(0, 255, 221);
  }
  
  .site-navigation a:focus {
    color: rgb(0, 255, 221);
  }
  .item{
    width: 300px;
    height: 300px;
    background: white;
    display: inline-block;
    padding: 40px;
}

.img{
    width: 200px;
    height: 200px;
}
.footer{
    width: 200px;
    height: 40px;
    background: wheat;
}
.name{
    width: 120px;
    display: inline-block;
    line-height: 40px;
}
.price{
    width: 76px;
    display: inline-block;
    line-height: 40px;
}


.item:hover .footer{
    background: lightslategrey;
}
.item:hover .img{
    background: green;
}
.kartinka{
    width: 200px;
    height: 200px;
}
h2{


   
}
::after{
    content: "";
    position: absolute;
    top: 126px;
    right: 767px;
    height: 7px;
    width: 210px;
    background-color: #4ec6ab;
}
.header1{
text-align: center;
}
.header1 h2{
    display: inline-block;
}
.header2{
    text-align: center;
    }
    .header2 h1{
        display: inline-block;
    }

